*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-size: 13px;
    font-family: "Open Sans";
    background-color: #fff;
}

.page-wrapper{

}
/*top-bar*/
/*.top-bar{
    background-color: #f8f8f8 !important;
}
.top-bar ul > li{
    list-style: none;
}
#right li > a{
    float: right;
    margin-right: 12px;
    padding-right: 10px;
}
#left {
    padding-left: 0px;
}
#left li > a{
    float: left;
    margin-right: 12px;
    padding-right: 10px;
    1170 119
}*/


/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
/*    background-color: #f9f9f9;
/*    min-width: 80px;*/
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f8f8f8}

.dropdown:hover .dropdown-content {
    display: block;
}
/*dropdown*/

ul.top-bar {
    list-style-type: none;
    margin: 0;
    padding: 0px 89.5px;
    overflow: hidden;
    background-color: #f8f8f8;

}
ul.top-bar li {float: left;}

ul.top-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    border-right: 1px solid #cfcece;
}

ul.top-bar li.right {float: right;}

@media screen and (max-width: 600px){
    ul.top-bar li.right, 
    ul.top-bar li {float: none;}
    ul.top-bar li a {border-right: none;}
}
/*#top-bar ul > li > a {
    color: black;
    border-right: 1px solid #cfcece;
    display: block;
    text-align: center;
}*/
.no-border {border-right: none !important;}

/*header*/
#header{
    clear: both;
    padding: 20px 0px 20px 0px;
}
.col-md-3 > p{
    padding-top:20px;
}
.set-button-search{
    height: 34px;
    width: 40px;
    background-color: #5bb300;
    border-radius: 0px 10px 10px 0px;

}
.glyphicon-search{
    z-index: 10;
    text-align: center;
    background-color: black;
}

/*menu*/
#menu{
    background-color: #5bb300;
    text-align: center;
    border: none;
    border-radius:0 0 0 0;
    margin-bottom: 0px;
}
#menu1 > li >a{
    color: #fff;
    margin-right: 25px;
    font-family: "Open Sans";
    font-weight: bold;
}

/*content1*/
#content1{
    width: 100%;
    height: 200px;
    background-color: #f8f8f8;
}
#anhcontent1{
    margin-top: 40px;
}
.set-button{
    height: 40px;
    width: 100px;
    background-color: #5bb300;
    border-radius: 10px;
    border: none;

}

/*content2*/
#content2{
    clear: both;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 100px;
}

/*tab content*/
.nav-pills li.active a,
.nav-pills li.active a:focus {
  background-color: #59b210 !important;
}

#tab-img{
    width: 291px;
    height: 215px;
}

/*best*/
#bestsellers h1{
margin-bottom: 30px;
}
#bestsellers{
    background-color: #f8f8f8;
    padding-top: 50px;
}
#bestsellers a{
    font-weight: bold;
}
#bestsellers + a{
    font-size: 40px;
}
.anh{
    width: 702px;
    height: 327px;
    float: left;
}

.col-md-2.ktanh{
    width: 233px;
    height: 163px;
    background-color: #fff;
    float: left;
    margin-right: 1px;
    padding: 0;
}
.ktanh1{
    width: 437px;
    height: 327px;
    background-color: #cccccc;
    float: left;
    margin-left: 1px;
}
.ktanh1 img{

}
/**/
#recently{
}
.reimg{
    width: 189px;
    height: 136px;
    float: left;
    margin-right:  1px;

}
.retext{
    width: 189px;
    height: 136px;
    float: left;
    margin-right:  1px;
    background-color: #fff;
}

.brand{
    margin-top: 50px;
    width: 163px;
    height: 100px;
    float: left;
    margin-right: 27px;
}

/*footer*/
#footer{
    padding-top: 80px;
    clear: both;
    background-color: #fff;
    display: block;
}
/*product*/
.columns_product li{
    list-style: none;
}
#footimg > img{
    width: 75px;
    height: 75px;
}
.columns_product{
    padding-top: 20px;
    padding-bottom: 20px;
}
.columns_product ul{
    margin-left: -50px;
}

/*letter*/
.new_letter{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

/*second line*/
.second_line img{
    padding-bottom: 20px;

}
/**/
.third_line{
    margin-top: 20px;
    background-color: #5bb300;
}
.list-inline a{
    color: #fff;
}
.text-muted{
    color: #fff;
}
 
